#cookie-info-bar {
	width:				100%;
	position:			fixed;
	top:					0;
	left:					0;
	height:				auto;
	background-color:	#404040;
	color:				#FFFFFF;
	z-index:			999999;			/* overlay the wordpress admin bar in frontend */
	display:			none;
}

#cookie-info-bar-message {
	float:				left;
	width:				80%;
	padding:			15px;
}

#cookie-info-bar-buttons {
	float:				right;
	padding:			12px 25px
}

#cookie-info-bar-buttons button {
	background:			#707070;
	border:				none;
	border-radius:		4px;
	color:				#FFFFFF;
	cursor:				pointer;
	padding:			5px 30px;
	margin-left:		5px;
}

#cookie-info-bar-buttons button:hover {
	background:			#989898;
}

#cookie-info-bar-clearer {
	clear:				both;
}

#cookie-info-bar-style-bottom-full {
	position: fixed;
	min-width: 100%;
	height: auto;
	z-index: 100000;
	font-size: 13px;
	line-height: 20px;
	left: 0;
	text-align: center;
	bottom:0;
	background-color:	#404040;
	color:				#FFFFFF;
	border-top: 1px #fff solid;
	display:			none;
}

#cookie-info-bar-style-bottom-full #cookie-info-bar-message {
	width:				auto;
	padding:			15px;
}

#cookie-info-bar-style-bottom-full #cookie-info-bar-buttons {
	width:				auto;
	padding:			12px 25px
}

#cookie-info-bar-style-bottom {
	width:				400px;
	position:			fixed;
	right:				20px;
	bottom:				0;
	height:				180px;
	background-color:	#404040;
	color:				#FFFFFF;
	text-align:		center;
	display:			none;
}

#cookie-info-bar-style-bottom #cookie-info-bar-message {
	float:				none;
	width:				auto;
	padding:			15px;
}

#cookie-info-bar-style-bottom #cookie-info-bar-buttons {
	float:				none;
	width:				auto;
	padding:			12px 25px
}
